//reset file/code
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
  } 

  //import below for bootstrap here if needed
  
  //import below for css-libraries
  
  //import below for fonts
  @import url('https://fonts.googleapis.com/css?family=Lato');
  @import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
  @import url('https://fonts.googleapis.com/css?family=Signika');
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
  @import url('https://fonts.googleapis.com/css?family=Tangerine');
  @import url('https://fonts.googleapis.com/css?family=EB+Garamond');
  @import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
  @import url('https://fonts.googleapis.com/css?family=Cormorant');
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
  //color variables go here
  $t-color:rgba(37,37,37, 1.0);
  // $hiwb-color:rgba(255,255,255, 1.0);
  $hiwbg-color:rgba(11,172,139, 0.75);
  $hiwb-color:#eedfdc;
  $color-white:white;
  $color-orange:#EF590A;
  $bg-cover: rgba(60, 59, 58, 0.75);
  $font-green:#3ad88f;
  $font-gray:#888888;
  $swipe-blue: #1c7cf8;


/*Page-Home*/

//Header


//Jumbotron






/*Page-About Us*/

/*Page-Merchant*/

/*Page-Contact Us*/



