//reset file/code
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
  } 

  //import below for bootstrap here if needed
  
  //import below for css-libraries

//   h1, h2, h3, h4, h5, h6, b, strong {
//     font-weight: bold;
// }
// em, i, dfn {
//     font-style: italic;
// }
  
  //import below for fonts
  @import url('https://fonts.googleapis.com/css?family=Lato');
  @import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
  @import url('https://fonts.googleapis.com/css?family=Signika');
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
  @import url('https://fonts.googleapis.com/css?family=Tangerine');
  @import url('https://fonts.googleapis.com/css?family=EB+Garamond');
  @import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
  @import url('https://fonts.googleapis.com/css?family=Cormorant');
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
  //color variables go here
  $t-color:rgba(37,37,37, 1.0);
  // $hiwb-color:rgba(255,255,255, 1.0);
  $hiwbg-color:rgba(11,172,139, 0.75);
  $hiwb-color:#eedfdc;
  $color-white:white;
  $color-orange:#EF590A;
  $bg-cover: rgba(60, 59, 58, 0.75);
  $font-green:#3ad88f;
  $font-gray:#888888;
  $swipe-blue: #1c7cf8;

  /* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#FFFFFF; background-color:#272727;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-twitter:hover{background-color:#00ACEE;}
.faicon-vk:hover{background-color:#4E658E;}
.faicon-youtube:hover{background-color: #ff0000}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'sans-serif';
  background: #FFF;
  color: #212A37;
  overflow-x: hidden;
}

a {
  color: #1257B1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #1257B1;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #212A37;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #212A37;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  background: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #1257B1;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #1257B1;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 16px;
  letter-spacing: 0px;
}

#mainNav .navbar-nav > li > a.active {
  color: #1257B1 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #1257B1;
}

#mainNav .navbar-nav .nav-link {
  padding: .5rem 1.4rem;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #1C7CF8;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #1257B1;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #1257B1;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #1257B1;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

header.masthead .header-content {
  max-width: 560px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

@media (max-width: 414px) {
  header.masthead {
    padding-top: 88px;
  }
  .video-iframe {
    width: 260px;
    height: 224px;
  }
  .hiw-img-container {
    display: none;
  }
}

.feature h3 {
  font-size: 40px;
}

.device-container {
  max-width: 325px;
}

.client .masthead {
  color: #FFF;
  background: url('../img/overlay-polygon.png');
  background-size: cover;
  background-color: #002049;
}

.client .masthead h1, .client .masthead p {
  color: #FFF;
}

.client .masthead .video-link {
  margin-top: 12px;
}

.client .masthead .video-link img{
  width: 20px;
  margin: 0px 8px;
  padding-bottom: 2px;
}

.client .masthead .video-link a {
  font-size: 13px;
  vertical-align: middle;
}

.client .summary .subtext {
  margin-top: 24px;
}

.client .hiw {
  background: #FBFCFF;
}

.hiw-item .inner-div{
  margin: 0 auto;
}

.hiw-content {
  font-size: 16px;
  margin-top: 8px;
}

.hiw-img-container {
  position: absolute;
  width: 100%;
}

.hiw-img-feature {
  width: 176px;
  margin: 0 auto;
  display: block;
}

.hiw-vline {
  background: #C8CFDB;
  height: 80px;
  width: 1px;
  display: block;
}

.hiw-hline {
  width: 336px;
  height:  1px;
  background: #C8CFDB;
  position:  absolute;
  top: 56%;
}

.pricing-card p{
  font-size: 14px;
}

.pricing-card p.price-tag {
  color: #1C7CF8;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 0;
}

.pricing-card .popular {
  border: 1px solid rgba(0,32,73,0.10);
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.10);
  border-top: 6px solid #1C7CF8;
}

.card-divider {
  width: 100%;
  background: #C8CFDB;
  max-width: 100%;
}

.highlight-tag {
  color: #4EC5FD;
}

.pricing-card .small {
  font-size: 70%;
  margin-bottom: 0;
}

.cta {
  background: url(../img/card-bg-long.svg);
  background-size: 40%;
  background-repeat: repeat-x;
  background-position-y: 36%;
}

.cta-photo{
  max-width: 325px;
}

.about .blue-bg {
  background: url(../img/about-hero.jpg);
  background-position: right 50%;
  background-repeat: no-repeat;
  background-color: #1C7CF8;
}

.about header.masthead {
  min-height: auto;
  height: auto;
}

.about .masthead h2, .about .masthead a, .about .cta h4, .faq .cta h4{
  color:  #FFF;
  line-height: 130%;
}

.about .masthead .highlight {
  color: #212A37;
}

.about .masthead p {
  font-size: 15px;
}

.about .team {
  background: #FBFCFF;
}

.team-member img {
  width: 100%;
}

.team-member .team-member-details {
  display: flex;
  align-items: center;
}

.about .name {
  color: #1C7CF8;
  margin-bottom: 4px;
}

.about .social a {
  color: #1C7CF8;
}

.about .social a:hover {
  color: #002049;
  text-decoration: none;
}

.about hr {
  max-width: 100%;
  width: 100%;
  border-color: #C8CFDB;
}

.about .advisor img {
  width: 100%;
}

.about .cta, .faq .cta {
  background: url('../img/overlay-polygon.png');
  background-color: #002049;
  background-size: cover;
}

.about .background-bg {
  display: none;
}

.about .advisor-first-margin {
  margin-left: 16%;
}

.faq header.masthead {
  background: url('../img/overlay-polygon.png');
  background-color: rgba(28, 124, 248, 0.25);
  background-size: cover;
  min-height: auto;
  height: auto;
}

footer {
  padding: 40px 0;
  color: #FFF;
  background-color: #002049;
}

footer p {
  font-size: 14px;
  margin: 0;
  color: #FFF;
}

footer .social a {
  color: #FFF;
}

footer .column-title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

footer ul {
  margin-bottom: 8px;
}

footer ul li{
  padding-bottom: 6px;
}

footer ul li a {
  font-size: 14px;
  color: #FFF;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #FFF;
}

.text-primary {
  color: #1257B1;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.btn-primary {
  border-radius: 4px !important;
  padding: 14px 32px;
  letter-spacing: 1px !important;
  font-weight: 700;
  font-size: 18px;
  background: #1C7CF8;
  border-color: #1C7CF8;
  color: #FFF !important;
}

.btn-primary:hover {
  background: #1257B1;
  border-color: #1257B1;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #1257B1;
  background-color: #1257B1;
}

.btn {
  border-radius: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.card-bg {
  background: url('../img/card-bg.svg');
  background-size:100%;
  background-repeat: no-repeat;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 80px;
}

.card-bg-right {
  left: 50%;
}

.card-bg-left {
  right: 50%;
}

.subtext {
  font-size: 22px;
}

.subtext-small {
  font-size: 16px;
}

.navbar-collapse.show {
  background: #FFF;
}

.opaque {
  background: #FFF !important;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.10);
}

@media (max-width: 768px){
  header.masthead .header-content h1 {
    font-size: 42px;
  }
  header.masthead .header-content {
    text-align: left;
  }

  .about .blue-bg {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    background: #1C7CF8;
  }

  .about .background-bg {
    display: block;
    background: url(../img/about-hero.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    opacity: 0.1;
  }

  .about .team-member {
    margin: 16px 0;
  }

  .about .team-member-details {
    margin-top: 32px;
  }

  .about .advisor-first-margin {
    margin-left: 15px;
  }

  /** FIX FOR IPAD SCREENS **/
  .about .order-md-last {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 1;
    order: 1;
  }

  .about .order-md-first {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
}

@media (max-width: 414px){
  header.masthead .header-content h1 {
    font-size: 32px;
  }

  header.masthead .header-content {
    text-align: center;
  }

  .card-bg {
    width: 100%;
    margin-top: 40px;
    left: 0;
    right: 0;
  }

  .device img {
    width: 176px;
    display: block;
    margin: 0 auto 16px;
  }

  .card-bg img {
    display: none;
  }

  .feature h3 {
    font-size: 30px;
    text-align: center;
  }

  .feature .subtext {
    text-align: center;
  }

  .about .background-bg {
    display: block;
  }

  .about .about-hero-text {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .about .about-hero-text h2{
    font-size: 26px;
  }

  .order-sm-last {
      -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
      order: 13;
  }

  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 1;
    order: 1;
  }
}

body .modal-dialog { /* Width */
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  /* height: 50% !important; */
}

/* Individual Components */

//Team Card
@media (max-width: 700px) {
    .teamcards-image-body{
        text-align: center;
        margin-bottom:2em;
    }
    .teamcards-image{
        width:275px;
        height:150px;
        object-fit: cover !important;
    }
    .teamcards-body{
        margin-top:1.25em;
        padding-left:5%;
        padding-right:10%;
        
    }
    .teamcards-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size:24px;
        line-height:29px;
        color:$swipe-blue;
        margin-bottom:0px;
        text-align: center;
    }
    .teamcards-subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:13px;
        line-height:19px;
        margin-top:0;
        text-align: center;
    }
    .team-description{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
        text-align: justify;
    }
    .team-hobbies{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
    .team-games{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
}
@media (min-width: 700px) {
    .teamcards-image-body{
        margin-left:12em;
        margin-bottom:2em;
        float:left;
    }
    .teamcards-image{
        width:400px;
        height:270px;
        object-fit: cover !important;
    }
    .teamcards-body{
        margin-top:1.25em;
        padding-left:45%;
        padding-right:10%;
        text-align: justify;
    }
    .teamcards-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size:24px;
        line-height:29px;
        color:$swipe-blue;
        margin-bottom:0px;
    }
    .teamcards-subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:13px;
        line-height:19px;
        margin-top:0;
    }
    .team-description{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
    .team-hobbies{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
    .team-games{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
}
@media (min-width: 1500px) {
    .teamcards-image-body{
        margin-left:18em;
        margin-bottom:2em;
        float:left;
    }
    .teamcards-image{
        width:400px;
        height:270px;
        object-fit: cover !important;
    }
    .teamcards-body{
        margin-top:1.25em;
        padding-left:46.5%;
        padding-right:10%;
        text-align: justify;
    }
    .teamcards-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size:24px;
        line-height:29px;
        color:$swipe-blue;
        margin-bottom:0px;
    }
    .teamcards-subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:13px;
        line-height:19px;
        margin-top:0;
    }
    .team-description{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
    .team-hobbies{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
    .team-games{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size:15px;
        line-height:19px;
        margin-top:0;
    }
}

//Contact Us CSS

.contactus{
  .heading{
    font-weight: bold;
    background-color: #EBEBEB;
    padding: 5px;
    font-size: 18px;
    border-radius: 1px;
    color: #0B486B;
    width: 100%;
    margin-top: 0px;
  }
  .row{
    padding-left:5em;
    padding-right:0em;
    text-align: center;
  }
  .col-md-4{
    display: inline-block;
    width: 33%;
    height: 100%;
    margin-bottom: 10px;
  }
  .col-md-6{
    display: inline-block;
    width: 49.7%;
    height: 100%;
  }
  .contactdesc{
    text-align: center;
    margin-bottom: 10px;
  }
  .subsection{
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
  }
  .contacticon{
    border: 5px solid $swipe-blue;
    padding: 10px;
    width: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .fa{
    font-size: 35px !important;
    width: 100%;
  }
  .subsection h6 a,
  .subsection h6{
    color: $swipe-blue;
  }
  .mapbutton{
    margin-top: 20px;
  }
  .viewmap{
    color: #fff;
    background-color: $swipe-blue;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
  }
  .viewmap:hover{
    color: #fff;
  }
}

//Google and Apple Pay Images
.jumbo-home-nativestore{
  img:nth-child(2){
    margin-left:1em;
  }
}

//Footer

.footer{
  .fa{
    color: #fff;
    font-size: 17.5px !important;
  }
  .fa-facebook:hover{color:#3B5998;}
  .fa-telegram:hover{color:#4E658E;}
  .fa-youtube:hover{color: #ff0000}
  .fa-twitter:hover{color:#00ACEE;}
}


